/* theme color
main: black 
sceondary #89715B*/
/* ========================================
            MAIN PAGE
======================================== */
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins";
  background-color: #090909;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.blackout {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 100;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  animation: stretchFromRight 1s ease-in both;
  transform-origin: 100% 50%;
}
@keyframes stretchFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
/* ========================================
            HEADER
======================================== */
header {
  background-image: url("images/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 570px;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: black;
}
button {
  background-color: transparent;
  border: none;
}
/* ========================================
            NAV BAR
======================================== */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: all 0.5s;
  z-index: 99;
  padding-top: 50px;
}
.navbar .logo {
  margin-left: 50px;
}
.navbar .logo,
.navbar .logo img,
sidebar .logo,
sidebar .logo img {
  width: 70px;
}
.navbar button {
  display: inline;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  margin-right: 50px;
}
.navbar button img {
  width: 30px;
}
/* ========================================
            SIDE BAR
======================================== */
sidebar {
  padding-right: 20px;
  display: flex;
  position: fixed;
  width: 250px;
  height: 100vh;
  margin-left: auto;
  background-color: white;
  min-height: 100vh;
  flex-direction: column;
  right: 0;
  z-index: 101;
  gap: 30px;
  animation: stretchFromRightS 1s ease-in both;
  transform-origin: 100% 50%;
}
sidebar top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
sidebar .logo,
sidebar .logo img {
  margin-top: 5px;
}
sidebar top button {
  width: 25px;
  cursor: pointer;
}
sidebar top button img {
  width: 25px;
}
sidebar bottom {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.9rem;
}
bottom .box {
  position: absolute;
  top: -10px;
  width: 120%;
  height: 40px;
  opacity: 1;
  background-color: #89715b;
  animation: scaleLeft 0.5s ease-in both;
  transform-origin: left center;
}
bottom .link {
  cursor: pointer;
  min-height: 60px;
  z-index: 2;
  position: relative;
}
bottom a {
  position: relative;
  margin-left: 30px;
  transition: 0.5s all;
  z-index: 3;
}
@keyframes stretchFromRightS {
  0% {
    transform: translateX(25vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes scaleLeft {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/* ========================================
            HEADER CONTENT
======================================== */
.header-content {
  padding: 50px;
  display: flex;
  color: white;
}
.header-content .name {
  margin-bottom: 0;
  font-family: "Zilla Slab";
  animation: appearFromBottomT 0.5s ease-in both;
}
.header-content h1 {
  margin-top: 0;
  font-family: "Zilla Slab";
  width: 76%;
  font-size: 4rem;
  animation: appearFromBottomT 0.5s ease-in both;
}
.header-content p {
  font-size: 2rem;
  animation: appearFromBottomT 0.5s ease-in both;
}
.header-content .contact {
  color: white;
  font-weight: bolder;
  font-family: "Zilla Slab";
  font-size: 1.5rem;
  margin-bottom: 20px;
  animation: appearFromBottomT 0.5s 0.3s ease-in both;
}
.header-content .socials {
  width: 60%;
  display: flex;
  gap: 60px;
  animation: appearFromBottomT 0.5s ease-in both;
}
.header-content .socials a {
  transition: 0.5s;
}
.header-content .socials a :hover {
  transform: scale(1.5);
}
.header-content .socials img {
  margin-top: 20px;
  height: 30px;
  transition: 0.5s;
}
.photos {
  width: 60%;
  padding-right: 20px;
}
.bigphotos {
  margin: 0 auto;
  position: relative;
}
.photos img,
.icons img {
  margin: 0 auto;
  position: absolute;
}
/* ========================================
ICONS
======================================== */
.icons {
  left: -74%;
  position: relative;
  animation: appearLate 1s 1.2s ease-in-out both;
}
#html,
#typescript {
  top: 10px;
  width: 50px;
}
#html {
  right: 90px;
  rotate: z 315deg;
}
#typescript {
  right: -290px;
  top: 20px;
  rotate: z 50deg;
}
#css,
#javascript,
#bootstrap,
#react {
  width: 50px;
}
#css {
  right: 100px;
}
#javascript {
  right: -24px;
}
#bootstrap {
  right: -148px;
}
#react {
  right: -287px;
}
/* ========================================
            BIG PHOTOS
======================================== */
#pc {
  z-index: 1;
  width: 450px;
  animation: appearFromTop 1s 0.5s ease-in both;
}
#laptop {
  width: 400px;
  top: 151px;
  left: 211px;
  z-index: 2;
  animation: appearFromLeft 1s 0.5s ease-in both;
}
#tablet {
  width: 300px;
  left: -100px;
  top: 97px;
  z-index: 2;
  animation: appearFromRight 1s 0.5s ease-in both;
}
#mobile {
  width: 100px;
  z-index: 3;
  top: 170px;
  left: 150px;
  animation: appearFromBottom 1s 0.5s ease-in both;
}
@keyframes appearLate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showFromBehind {
  0% {
    transform: translate(0px, 10px);
    opacity: 0;
  }
  50% {
    transform: translate(0px, -90px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 10px);
    opacity: 0;
  }
}
@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes appearFromBottomT {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ========================================
            SECTIONS
======================================== */
.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #141414;
}
section::before {
  content: "";
  position: absolute;
  width: 50%;
  transform: translate(50%, 0px);
  height: 2px;
  background-color: white;
}
#contact::before {
  transform: translate(0, 0px);
}
#WhyUs,
#Projects {
  padding-top: 10px;
  background-color: #141414;
}
section {
  height: 100vh;
}
.headline {
  margin-top: 20px;
}
.cardBG {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-color: #89715b;
  color: white;
  height: 300px;
  justify-content: center;
  border-radius: 20px 0;
  animation: scaleFromMid 0.3s ease-in both;
}
@keyframes hide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
/* ========================================
            ABOUT
======================================== */
#about {
  color: white;
  display: flex;
  padding-right: 50px;
  min-height: 700px;
  background-color: black;
  padding-top: 10px;
}
#about content {
  width: 50%;
  margin-left: auto;
  margin-right: 40px;
  animation: appearFromLeft 1s 0.5s ease-in both;
}
h2 {
  padding-left: 50px;
  color: rgb(137, 113, 91);
  font-size: 4rem;
  font-family: "Zilla Slab";
}
h3 {
  font-family: "Zilla Slab";
}
#about content p {
  font-size: 1rem;
}
#about content img {
  width: 300px;
}
.canvus {
  background-image: url(images/slide_2_0.png);
  width: 600px;
  background-repeat: no-repeat;
  background-size: fill;
  height: 90%;
  border-radius: 20px;
  margin: auto 0;
  animation: appearFromRight 1s 0.5s ease-in both;
}
/* ========================================
            WHY US
======================================== */
.cards {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card {
  display: grid;
  grid-template-rows: 30% 30% 40%;
  width: 270px;
  background-color: #1c1a1a;
  color: white;
  align-items: center;
  height: 300px;
  justify-content: center;
  border-radius: 30px 0;
}

.card img {
  min-width: 64px;
  max-width: 64px;
  margin-right: auto;
  transition: 0.5s all;
}
.card img,
.card h4,
.card p {
  z-index: 3;
  margin-left: 20px;
  margin-right: 20px;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  90% {
    opacity: 0.7;
    transform: translateY(-20px);
  }
  95% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes scaleFromMid {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.numbers {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: space-between;
}
.numbers .item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.numbers .num {
  color: #89715b;
  font-size: 5rem;
  font-weight: 600;
}
.numbers span {
  width: 50%;
  font-size: 1.5rem;
  color: white;
}
/* ========================================
            PROJCETS
======================================== */
#Projects .headline {
  margin-top: 100px;
  display: inline;
}
.container {
  max-width: 1120px;
  user-select: none;
  width: 100%;
}
.swiper-wrapper {
  opacity: 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.swiper-slide {
  user-select: none;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
  background-color: black;
  color: white;
  border-radius: 20px 0;
  height: 400px;
}
.swiper-slide a {
  height: 100%;
  color: white;
}
.swiper-slide .info {
  font-weight: 500;
  opacity: 0;
  position: absolute;
  background-color: #89715b;
  bottom: 0;
  padding: 0 15px;
  transform: translateY(130px);
  border-radius: 20px 0;
  max-height: 186px;
  min-height: 186px;
}
@keyframes slideFromBottomInfo {
  0% {
    opacity: 0;
    transform: translateY(130px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideFromBottomInfoR {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(130px);
  }
}
.swiper-slide .project-Name {
  font-size: 1rem;
  text-align: center;
}
.swiper-slide .project-Details {
  font-size: 0.8rem;
  text-align: center;
}
.swiper-slide .project-Type {
  text-align: center;
}
.swiper-slide .Projects-image {
  height: 100%;
  width: 100%;
}
.swiper-slide .Projects-image img {
  margin: 0 0;
  border-radius: 20px 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
*/ .swiper {
  width: 100%;
  height: 100%;
}
.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  position: relative;
  bottom: -20px;
  background-color: white;
}

/* ========================================
            SERVICES
======================================== */
#Services {
  padding-top: 20px;
  background-color: black;
}
#Services .cards {
  text-align: center;
}
#Services .card {
  background-color: #141414;
}
/* ========================================
            SERVICES
======================================== */
.skill-group {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 30px;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.skill h5 {
  text-align: center;
  color: white;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(137, 113, 91, 0.15),
    -6px -6px 10px -1px rgba(137, 113, 91, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(137, 113, 91, 0.7),
    -0.5px -0.5px 0px rgba(137, 113, 91, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.progress-number {
  font-weight: 600;
  color: white;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 455;
  stroke-dashoffset: 455;
  transition: all 2s;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* ========================================
              FORM
======================================== */
#contact {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding-top: 40px;
}
#contact h2 {
  padding-left: 0;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin-top: 20px;
  animation: appearFromBottomT 1s ease-in both;
}
form {
  height: 400px;
  max-width: 50%;
  grid-gap: 20px;
  display: grid;
  grid-template-areas:
    "FName LName"
    "Email Email"
    "Subject Subject"
    "Message Message"
    "submit submit";
  color: white;
  margin-bottom: 40px;
  animation: appearFromBottomT 1s 0.5s ease-in both;
}
#Message {
  grid-area: Message;
}
#Subject {
  grid-area: Subject;
}
#Email {
  grid-area: Email;
}
#FName {
  grid-area: FName;
}
#LName {
  grid-area: LName;
}
#submit {
  grid-area: submit;
}
input,
textarea {
  margin-top: 10px;
  background-color: transparent;
  height: 30px;
  color: #1dee3b;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid white;
}
textarea {
  resize: none;
  width: 100%;
  height: 51px;
}

input[type="submit"]:hover {
  background: #fff;
  color: #1b1c1e;
}

input:focus {
  outline: 1px solid #828282;
}
form .item {
  display: flex;
  flex-direction: column;
}
input[type="submit"] {
  font-family: "Zilla Slab";
  margin: auto;
  width: 120px;
  background-color: #89715b;
  /* padding: 15px 0; */
  color: white;
  font-size: 25px;
  border-bottom: none;
  transition: all 0.3s ease;
  height: 40px;
}
#status {
  font-size: 1.5rem;
  grid-area: status;
  text-align: center;
  color: #1dee3b;
  font-weight: 600;
}
.text {
  grid-area: text;
  color: white;
  font-size: 1rem;
  text-align: left;
}
.success {
  color: #75dbcd;
  animation: status 4s ease forwards;
}
.failed {
  color: red;
  animation: status 4s ease forwards;
}
.op {
  opacity: 0;
}
.hidden {
  display: none;
}
.shrink {
  animation: hide 1s ease-in both;
}
@media (max-width: 500px) {
  html {
    overflow-x: hidden;
    font-size: 13px;
    max-width: 500px;
  }
  .navbar .logo {
    margin-left: 0;
  }
  sidebar {
    width: 200px;
    right: auto;
    right: 0px;
  }
  .navbar .logo,
  .navbar .logo img,
  sidebar .logo,
  sidebar .logo img {
    width: 50px;
  }
  @keyframes stretchFromRightS {
    0% {
      transform: translateX(60vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
  header {
    height: 780px;
  }
  .header-content {
    padding: 0;
    padding-top: 50px;
    flex-direction: column-reverse;
  }
  .header-content .left {
    transform: translateY(230px);
    text-align: center;
  }
  .left h1 {
    width: 100%;
  }
  .photos {
    margin: auto 0;
    width: 100%;
  }
  #pc {
    width: 300px;
    left: 50px;
    top: -25px;
  }
  #laptop {
    width: 220px;
    top: 102px;
    left: 180px;
  }
  #tablet {
    width: 170px;
    left: -10px;
    top: 70px;
  }
  #mobile {
    width: 70px;
    top: 78px;
    left: 128px;
  }
  .icons {
    bottom: -22px;
  }
  .icons img {
    max-width: 30px;
  }
  #html {
    right: 0px;
  }
  #css {
    right: 0px;
  }
  #html,
  #typescript {
    top: 50px;
  }
  #typescript {
    right: -231px;
  }
  #javascript {
    right: -70px;
  }
  #bootstrap {
    right: -140px;
  }
  #react {
    right: -210px;
  }
  .socials {
    margin-left: 11%;
  }
  #about {
    padding-right: 0;
    max-height: 650px;
  }
  section {
    height: fit-content;
  }
  section::before {
    display: none;
  }
  #about content {
    text-align: center;
    margin: 0;
    padding: 0 40px;
    width: 100%;
  }
  .swiper-slide .info {
    max-height: auto;
    min-height: auto;
  }
  .swiper-slide .info .project-Name {
    font-size: 1.2rem;
  }
  .swiper-slide .info .project-Details {
    font-size: 1rem;
  }
  #about content h2 {
    padding-left: 0;
  }
  #WhyUs {
    min-height: 1700px;
  }
  .headline {
    padding-left: 0;
    text-align: center;
    font-size: 3rem;
  }
  .cards {
    min-height: 1260px;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }
  .card {
    text-align: center;
  }
  .card h4 {
    font-size: 1.2rem;
  }
  @keyframes slideFromBottom {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    90% {
      opacity: 0.7;
      transform: translateX(-20px);
    }
    95% {
      opacity: 0.8;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .numbers {
    margin: 50px 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .numbers .item {
    flex-direction: column;
  }
  .numbers .item span {
    width: 100%;
  }
  #Services {
    min-height: 1300px;
  }
  #contact {
    height: 730px;
  }
  .swiper-slide {
    max-width: 20px;
    min-width: 300px;
  }
  .container {
    max-width: 359px;
  }
  #Skills {
    margin-bottom: 27px;
  }
  .skill-group {
    gap: 80px;
  }
  #Skills h5 {
    font-size: 16px;
  }
  form {
    grid-template-areas:
      "FName"
      "LName"
      "Email"
      "Subject"
      "Message"
      "text"
      "recaptcha"
      "status"
      "submit";
    max-width: 100%;
  }
  .skill-group {
    flex-direction: column;
  }
  h2 {
    padding: 0;
    text-align: center;
  }
}
